APP_VERSION=0.1.0
GEOSERVER_VERSION=3.0.0
GEOSERVER_PORT=8088
PYGEOAPI_PORT=5000
VIEWER_PORT=8090
GEOSERVER_ADMIN_PASSWORD=geoserver-change-me
PUBLIC_BASE_URL=http://localhost:8090
GEOSERVER_PUBLIC_URL=http://localhost:8090/geoserver
